<!DOCTYPE html>
<html lang="en">
<head>

</ion-icon><script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Doofenshmirtz</title>
</head> 
<body>
    <nav>
        <h1>Doofenshmirtz</h1>
        <button class="menu-toggle" onclick="toggle()">
            <ion-icon name="menu" size="large"></ion-icon>
        </button>
        <ul class="menu hidden">
            <li><a href="/">Home</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="/questions">Daily Poll</a></li>
            <li><a href="#">logout</a></li>
        </ul>
    </nav>
