<!DOCTYPE html>
<html lang="en">
<head>

</ion-icon><script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/create-poll.css">
    <title>Doofenshmirtz</title>
</head> 
<body>
    <nav>
        <h1>Doofenshmirtz</h1>
        <button class="menu-toggle" onclick="toggle()">
            <ion-icon name="menu" size="large"></ion-icon>
        </button>
        <ul class="menu hidden">
            <li><a href="/user">Home</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/questions">Daily Poll</a></li>
            <li><a href="/leaderboard">leaderboard</a></li>
            <li><a href="/logout"><button class="btn">Logout</button></li></a>
        </ul>
    </nav>

<main>
    <h2>Make POLL</h2>
    <form action="/create" method="POST">
    <div class="question">
        <h4>Question 1</h4>
        
            <textarea  id="q1" cols="50" rows="2" placeholder="Question" name="q1"></textarea>
            <input type="radio" value="yes" name="a1" id="yes"> <label for="#yes">yes</label>
            <input type="radio" value="no" name="a1" id="no"> <label for="#no">no</label>
       
    </div>
    <div class="question">
        <h4>Question 2</h4>
        
        <textarea  id="q1" cols="50" rows="2" placeholder="Question" name="q2"></textarea>
        <input type="radio" value="yes" name="a2" id="yes"> <label for="#yes">yes</label>
        <input type="radio" value="no" name="a2" id="no"> <label for="#no">no</label>
       
    </div>
    <div class="question">
        <h4>Question 3</h4>
        
        <textarea  id="q1" cols="50" rows="2" placeholder="Question" name="q3"></textarea>
        <input type="radio" value="yes" name="a3" id="yes"> <label for="#yes">yes</label>
        <input type="radio" value="no" name="a3" id="no"> <label for="#no">no</label>
       
    </div>
    <div class="question">
        <h4>Question 4</h4>
        <textarea  id="q1" cols="50" rows="2" placeholder="Question" name="q4"></textarea>
        <input type="radio" value="yes" name="a4" id="yes"> <label for="#yes">yes</label>
        <input type="radio" value="no" name="a4" id="no"> <label for="#no">no</label>
       
    </div>
    
       <button class="btn" type="submit">submit</button>
    </form>
    
</main>
<%- include("partials/footer"); -%>