<main>
    <h2>Make POLL</h2>
    <form action="/create" method="POST">
    <div class="question">
        <h4>Question 1</h4>
        
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
       
    </div>
    <div class="question">
        <h4>Question 2</h4>
        
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
       
    </div>
    <div class="question">
        <h4>Question 2</h4>
        
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
       
    </div>
    <div class="question">
        <h4>Question 4</h4>
        
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
       
    </div>
    <div class="question">
        <h4>Question 5</h4>
        
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
       <button type="submit">submit</button>
    </form>
    </div>
</main>
