<main>
    <h2>Make POLL</h2>
    <div class="question">
        <h4>Question 1</h4>
        <form action="">
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
        </form>
    </div>
    <div class="question">
        <h4>Question 2</h4>
        <form action="">
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
        </form>
    </div>
    <div class="question">
        <h4>Question 2</h4>
        <form action="">
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
        </form>
    </div>
    <div class="question">
        <h4>Question 4</h4>
        <form action="">
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
        </form>
    </div>
    <div class="question">
        <h4>Question 5</h4>
        <form action="">
            <textarea name="Question" id="q1" cols="50" rows="2" placeholder="Question"></textarea>
            <input type="text" placeholder="Answer" class="answer">
        </form>
    </div>
</main>
