<%- include("partials/header") -%>
    <main>
        <div class="greet">Hi, <b> <%= user %> </b> <br> Your points are <%= points %> </div>
        <div class="news">
            <h2>Latest In IPL</h2>
            <div class="articles">
                <div class="article">
                    <img src="" alt="">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer") -%>