<main>
        <h2>Today's Poll</h2>
        <div class="questions">
            <div class="question">
                <p><b>Q-1 </b>Will Karnataka Clashers win against Gujarat in today's match?</p>
                    <form method="post">
                        <input type="text" placeholder="Answer">
                    </form>
            </div>
            <div class="question">
                <p><b>Q-2 </b>Will Karnataka Clashers win against Gujarat in today's match?</p>
                    <form method="post">
                        <input type="text" placeholder="Answer">
                    </form>
            </div>
            <div class="question">
                <p><b>Q-3 </b>Will Karnataka Clashers win against Gujarat in today's match?</p>
                    <form method="post">
                        <input type="text" placeholder="Answer">
                    </form>
            </div>
            <div class="question">
                <p><b>Q-4 </b>Will Karnataka Clashers win against Gujarat in today's match?</p>
                    <form method="post">
                        <input type="text" placeholder="Answer">
                    </form>
            </div>
            <div class="question">
                <p><b>Q-5 </b>Will Karnataka Clashers win against Gujarat in today's match?</p>
                    <form method="post">
                        <input type="text" placeholder="Answer">
                    </form>
            </div>
        </div>
    </main>
