<!DOCTYPE html>
<html lang="en">
<head>

</ion-icon><script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/poll.css">
    <title>Doofenshmirtz</title>
</head> 
<body>
    <nav>
        <h1>Doofenshmirtz</h1>
        <button class="menu-toggle" onclick="toggle()">
            <ion-icon name="menu" size="large"></ion-icon>
        </button>
        <ul class="menu hidden">
            <li><a href="/user">Home</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/questions">Daily Quiz</a></li>
            <li><a href="/leaderboard">leaderboard</a></li>
            <li><a href="/logout"><button class="btn">Logout</button></li></a>
        </ul>
    </nav>

<main>
        <h2>Today's Quiz</h2>
        <form method="post" action="/questions">
            
        <div class="questions">
            <div class="question">

               
                <p><b>Q-1 </b> <%= question1 %></p>
                   
        
                
                <input type="radio" name="a1" value="yes" id="yes"> <label for="#yes">yes</label>
                <input type="radio" name="a1" value="no" id="no"> <label for="#no">no</label>
           
           
                    
            </div>
            <div class="question">
                <p><b>Q-2 </b> <%= question2 %></p>
                    
                <input type="radio" value="yes" name="a2" id="yes"> <label for="#yes">yes</label>
                <input type="radio" value="no"  name="a2" id="no"> <label for="#no">no</label>
           
                    
            </div>
            <div class="question">
                <p><b>Q-3 </b><%= question3 %></p>
                   
                <input type="radio" value="yes" name="a3" id="yes"> <label for="#yes">yes</label>
            <input type="radio" value="no" name="a3" id="no"> <label for="#no">no</label>
       
                   
            </div>
            <div class="question">
                <p><b>Q-4 </b><%= question4 %></p>
                   
                <input type="radio" value="yes" name="a4" id="yes"> <label for="#yes">yes</label>
                <input type="radio" value="no" name="a4" id="no"> <label for="#no">no</label>
       
            </div>
            
        </div>
        <button type="submit" class="btn">submit</button>
        </form>
       
    </main>

    
    <footer>
        <h2>Doofenshmirtz</h2>
        <small>Copyright © Doofenshmirtz 2023 All Rights Reserved.</small>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
    </footer>
</body>   
<script>
    const menu = document.querySelector('.menu')

    function toggle(){
        menu.classList.toggle('hidden')
    }
</script>
</html>

