@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

main {
  padding: 1rem;
  background-color: #ffffff;
  color: #263d58;
}

body {
  display: grid;
  grid-template-rows: 68px 1fr 68px;
}

nav {
  background: #ffffff;
  display: flex;
  color: #263d58;
  padding-block: 1rem;
  padding-inline: 1rem 1.5rem;
  align-items: center;
  position: sticky;
}
nav .menu-toggle {
  display: none;
}
nav ul {
  position: absolute;
  right: 1.5rem;
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  background-color: none;
  flex-direction: row;
  align-items: center;
}
nav ul .btn {
  background-color: #263d58;
  color: #ffffff;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  transition: background-color 250ms;
  border-radius: 10px;
}
nav ul .btn:hover {
  background-color: #2e496a;
  color: #ffffff;
}
nav ul a {
  text-decoration: none;
  color: #263d58;
  transition: color 250ms;
  border-radius: 10px;
}
nav ul a:hover {
  color: #35567c;
}
@media (max-width: 800px) {
  nav {
    padding-inline: 1rem 0;
  }
  nav .menu-toggle {
    position: absolute;
    right: 1.5rem;
    display: inline-block;
    padding: 0;
    background: none;
    border: 0;
  }
  nav .menu-toggle.hidden {
    opacity: 0;
  }
  nav ul {
    flex-direction: column;
    top: 68px;
    background-color: #e2f4fe;
    right: 0;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 3rem;
    height: calc(100vh - 68px);
  }
  nav ul.hidden {
    display: none;
  }
  nav ul a {
    color: #263d58;
  }
}

footer {
  padding: 1rem;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  color: #ffffff;
  background-color: #263d58;
  gap: 1rem;
  align-items: center;
}
footer h2 {
  flex-grow: 1;
}
footer .socials {
  display: flex;
  gap: 1rem;
}
footer .socials a {
  color: #ffffff;
}
@media (max-width: 650px) {
  footer {
    flex-direction: column;
  }
}

main .hero {
  margin-bottom: 2rem;
  background-color: #e2f4fe;
  border-radius: 10px;
  color: #263d58;
  padding: 2rem;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 2rem;
}
main .hero .text p {
  margin-block: 2rem;
  max-width:35rem;
}
main .hero .text a {
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-inline: 0.5rem;
  background-color: #263d58;
  transition: background-color 250ms;
}
main .hero .text a:hover {
  background-color: #2e496a;
}
main .hero img {
  height: 300px;
}
@media (max-width: 800px) {
  main .hero {
    grid-template-columns: 1fr;
  }
}
main .features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .features h2 {
  margin-bottom: 1rem;
}
main .features .features-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 1rem;
}
main .features .features-grid .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2f4fe;
  color: #263d58;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
}
main .features .features-grid .feature img {
  border-radius: inherit;
}/*# sourceMappingURL=styles.css.map */
